# App
streamlit

# Core
numpy
scikit-learn
pandas

# NLP & Embedding
sentence-transformers
transformers
pythainlp
ftfy
huggingface-hub
timm
safetensors
tokenizers

# PyTorch (CPU)
torch
torchvision

# PDF & Image
pymupdf
pdf2image
pytesseract
Pillow

# Vector DB
pinecone>=6.0.0

# Utils
python-slugify
requests
tqdm
